:host {
  .timeline-container {
    position: relative;
    min-width: 680px;
    min-height: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: auto;
    // display: flex;
    // flex-flow: column nowrap;
    // align-items: center;
    // justify-content: center;
  }

  .expand-collapse-btn {
    display: flex;
    justify-content: center;

    clr-icon {
      width: 16px;
      height: 16px;
      color: #003699;
    }
  }
}