<clr-modal [(clrModalOpen)]="showDialog" [clrModalSize]="'lg'">
   <h3 class="modal-title">{{ cmpInfo?.name }}</h3>
   <div class="modal-body">
      <div>
         <span class="description-span">UUID:</span>
         <span class="component-uuid">{{ cmpInfo?.uuid }}</span>
         <button class="btn btn-icon btn-sm btn-link"
                 type="button"
                 ngxClipboard
                 [cbContent]="cmpInfo?.uuid">
            <clr-icon shape="copy"></clr-icon>
            Click to copy
         </button>
      </div>
      <div >
         <span class="description-span">Events:</span>
         <div class="events">
            <div *ngFor="let event of cmpInfo?.events" class="event-icon">
               <div>
                  <clr-icon [attr.shape]="event.eventIcon"
                            size="22"
                            class="is-solid"
                            (click)="click(event)"
                            [ngClass]="{ 'cursor-pointer': event.traceName == 'CLOMReport' }"
                            [style.fill]="event.eventIconColor">
                  </clr-icon>
               </div>
               <div>
                  <span *ngIf="event.origin" style="font-weight: bold;">[{{event.origin}}]</span>
                  {{ event.traceString }}
                  <ng-container *ngIf="event.timeString && event.timeString != '' && !event.opID">
                     <a href="#" [routerLink]="['/ui/timeline/traces', traceParams(event.timeString)]" target="_blank">
                        <clr-icon shape="pop-out" class="is-info"></clr-icon>
                     </a>
                  </ng-container>
                  <ng-container *ngIf="event.opID && event.timeString && event.target">
                     <a href="#" [routerLink]="['/ui/search/result', searchParams(event.opID, event.timeString, event.target)]" target="_blank">
                        <clr-icon shape="pop-out" class="is-info"></clr-icon>
                     </a>
                  </ng-container>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showDialog = false">Close</button>
   </div>
</clr-modal>