<svg:foreignObject [attr.x]="0"
               [attr.y]="10"
               [attr.width]="filterWidth"
               [attr.height]="filterHeight">
   <xhtml:div>
      <div class="timeline-slider-filter">
         <label>Start:</label>
         <input type="text"
                size="18"
                [(ngModel)]="displayedStartTime">
         </input>
      </div>
      <div class="timeline-slider-filter">
         <label>End:</label>
         <input type="text"
                size="18"
                [(ngModel)]="displayedEndTime">
         </input>
      </div>
      <div class="timeline-slider-filter-button">
         <button class="btn btn-sm" (click)="filterButtonClickHandler()">filter</button>
      </div>
   </xhtml:div>
</svg:foreignObject>