<svg:g *ngFor="let timeline of displayedTimelines; let i = index">
   <g timeline-bar-chart
      [attr.class]="'timeline-' + i"
      [component-nodes]="timeline.componentNodes"
      [container-class]="containerClass + ' .timeline-' + i"
      [object-timeline]="timeline.objectTimeline"
      [component-timelines]="timeline.componentTimelines"
      (headerComponentClickEmitter)="clickComponentHandler($event)"
      (mouseoverEmitter)="onMouseover($event)"
      (mouseoutEmitter)="onMouseout($event)"
      (tooltipChangeEmitter)="onTooltipChangeHandler($event)"
      (eventClickEmitter)="onEventsClickHandler($event)"></g>
</svg:g>
<svg:foreignObject *ngIf="displayedTimelines && displayedTimelines.length > 1"
                   [attr.x]="actionButtonsX"
                   [attr.y]="VisualTimeline.V_PADDING"
                   [attr.width]="VisualTimeline.ACTION_BUTTONS_WIDTH"
                   [attr.height]="VisualTimeline.ACTION_BUTTONS_HEIGHT">
   <xhtml:div class="action-buttons">
      <stepper #stepper
               value="2"
               [step]="1"
               [min]="2"
               [max]="devidedTimelines.length"
               (change)="onStepperChanged($event)"></stepper>
      <clr-checkbox (change)="onChanged($event)">All</clr-checkbox>
   </xhtml:div>
</svg:foreignObject>