<svg #timeline [attr.width]="svgWidth"
     [attr.height]="svgHeight"
     id="timeline-header">

   <!-- Timeline filter input -->
   <g slider-filter
      [filter-width]="TIMELINE_X"
      [filter-height]="VisualTimeline.HEADER_HEIGHT"
      (filterButtonClick)="filterButtonClicked($event)"></g>
   <!-- Slider -->
   <!-- <g range-slider
      [container-class]="containerClass"
      (rangeChange)="onRangeChanged($event)"></g> -->
   <g timeline-view
      [container-class]="containerClass"
      [configure-object]="configureObject"
      (headerComponentClickEmitter)="clickComponentHandler($event)"
      (mouseoverEmitter)="onMouseover($event)"
      (mouseoutEmitter)="onMouseout($event)"
      (tooltipChangeEmitter)="onTooltipChangeHandler($event)"
      (eventClickEmitter)="onEventsClickHandler($event)"
      (timelineChangedEmitter)="timelineChangedHandler($event)"></g>
   <!-- Legend -->
   <svg:g class="timeline-legend" *ngIf="chartWidth && isReady">
      <!-- Object status legend -->
      <rect [attr.width]="legendWidth"
            [attr.height]="objectLegendHeight"
            [attr.x]="legendX"
            [attr.y]="legendY"
            [attr.fill]="'none'"
            [attr.stroke]="'#000'"
            [attr.shape-rendering]="'crispEdges'">
      </rect>
      <foreignObject [attr.x]="legendX + 10"
                     [attr.y]="legendY"
                     [attr.width]="160">
         <xhtml:span class="timeline-legend-header">
            Object States
         </xhtml:span>
      </foreignObject>
      <svg *ngFor="let mapping of TimelineUtils.OBJECT_STATUS_MAPPINGS; let i = index"
           [attr.x]="getLegendX(i, 'object')"
           [attr.y]="getObjectLegendY(i)">
         <use width="22" height="22"
              [attr.href]="'#icon-circle'"
              [attr.fill]="TimelineUtils.getEventIconColor(mapping.status)"></use>
         <text [attr.x]="25" [attr.y]="15">{{ mapping.value }}</text>
      </svg>
      <!-- Component status legend -->
      <rect [attr.width]="legendWidth"
            [attr.height]="componentLegendHeight"
            [attr.x]="legendX"
            [attr.y]="legendY + objectLegendHeight + 10"
            [attr.fill]="'none'"
            [attr.stroke]="'#000'"
            [attr.shape-rendering]="'crispEdges'">
      </rect>
      <foreignObject [attr.x]="legendX + 10"
                     [attr.y]="legendY + objectLegendHeight + 10"
                     [attr.width]="160">
         <xhtml:span class="timeline-legend-header">
            Component States
         </xhtml:span>
      </foreignObject>
      <svg *ngFor="let mapping of TimelineUtils.COMPONENT_STATUS_MAPPINGS; let i = index"
           [attr.x]="getLegendX(i, 'component')"
           [attr.y]="getComponentLegendY(i)">
         <use width="22" height="22"
              [attr.href]="'#icon-circle'"
              [attr.fill]="TimelineUtils.getEventIconColor(mapping.status)"></use>
         <text [attr.x]="25" [attr.y]="15">
            {{ mapping.value }}
         </text>
      </svg>
      <!-- Icons legend -->
      <rect [attr.width]="legendWidth"
            [attr.height]="iconLegendHeight"
            [attr.x]="legendX"
            [attr.y]="legendY + objectLegendHeight + componentLegendHeight + 20"
            [attr.fill]="'none'"
            [attr.stroke]="'#000'"
            [attr.shape-rendering]="'crispEdges'">
      </rect>
      <svg *ngFor="let mapping of TimelineUtils.ICON_MAPPINGS; let i = index"
           [attr.x]="getLegendX(i, 'icon')"
           [attr.y]="getIconLegendY(i)">
         <use width="22" height="22"
              [attr.href]="TimelineUtils.getDefEventIcon(mapping.traceName, mapping.status)"
              [attr.fill]="TimelineUtils.getEventIconColor(mapping.status)"></use>
         <text [attr.x]="25" [attr.y]="15">
            {{ mapping.value }}
         </text>
      </svg>
   </svg:g>
</svg>
<hb-icon-defs></hb-icon-defs>
<!-- Timeline events tooltip -->
<div class="timeline-tooltip">
   <div *ngFor="let event of tooltipEvents" class="timeline-tooltip-line">
      <div class="event-icon">
         <clr-icon [attr.shape]="TimelineUtils.getEventIcon(event.traceName, event.newLeafState)"
                   size="22"
                   class="is-solid"
                   [style.fill]="TimelineUtils.getEventIconColor(event.newLeafState)">
         </clr-icon>
      </div>
      <div>
         <span *ngIf="event.origin" style="font-weight: bold;">[{{event.origin}}]</span>
         {{ event.traceString }}
      </div>
   </div>
</div>
<!-- copy tooltip button -->
<div class="copy-uuid" (mouseout)="mouseoutCopyButton($event)">
   <button class="btn btn-icon btn-primary btn-sm btn-copy"
           type="button"
           ngxClipboard
           [cbContent]="copiedUUid"
           (cbOnSuccess)="copyToClipboard()">
      <clr-icon shape="copy"></clr-icon>
      {{ copiedUUid }}
   </button>
</div>
<component-header-dialog (clomReportIconClick)="clomReportIconClickHandler()"></component-header-dialog>

<div *ngIf="!isReady">
   <span class="spinner spinner-md" style="margin-left: 100px; margin-top: 30px">
         Loading...
   </span>
</div>