:host {
  min-width: 680px;
  min-height: 400px;
  position: relative;

  div.timeline-tooltip {
    
    position: fixed;
    width: 400px;
    min-height: 30px;
    padding: 10px 5px;
    font: 12px sans-serif;
    background: #efefef;
    border: 1px solid lightsteelblue;
    border-radius: 10px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50%);
    text-align: start;
    z-index: 999;

    .timeline-tooltip-line {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      :first-child {
        margin: 0 5px;
      }
    }
  }

  div.copy-uuid {
    position: fixed;
    display: none;
  }

  .timeline-legend {
    font-size: 10px;
    font-family: sans-serif;
    text-align: start;
  }

  .timeline-legend-header {
    text-decoration: underline;
    text-underline-position: under;
    font-size: 12px;
    font-weight: bold;
  }

}
